<div
    class="mx-16 lg:mx-auto lg:max-w-7xl px-12 lg:px-20 py-16 sm:py-24 lg:flex lg:items-center lg:justify-between bg-red rounded-2xl">
    <h2 class="text-3xl font-bold tracking-tight text-base-50 sm:text-4xl font-text"><span class="font-header">Try Vigilant</span><br/>Deploy
        on your own infrastructure</h2>
    <div class="mt-10 flex items-center gap-x-6 lg:mt-0 lg:flex-shrink-0">
        <a href="/documentation/deployment"
           class="rounded-full px-4 py-1.5 text-sm font-semibold text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 bg-blue hover:bg-blue-light">Get Started</a>
        <a href="/documentation/welcome" class="text-sm font-semibold leading-6 text-base-100 hover:text-base-50">Documentation
            <span aria-hidden="true">→</span></a>
    </div>
</div>
