@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

[x-cloak] { display: none !important; }

.prose {
    h1 {
        @apply text-white text-7xl;
    }

    h2 {
        @apply text-base-100 text-4xl;
    }

    h3 {
        @apply text-base-200 text-2xl;
    }

    p {
        @apply text-base-200 text-lg;
    }

    a {
        @apply text-red;
    }

    code {
        @apply text-base-100 select-all;
    }

    :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *))::before {
        content: '';
    }

    :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *))::after {
        content: '';
    }
}
